@import "tailwindcss";

@theme {
  --color-blue-50: #f0f7ff;
  --color-blue-100: #dbeafe;
  --color-blue-500: #1d4ed8;
  --color-blue-600: #1e40af;
  --color-blue-700: #1e3a8a;
  --color-blue-800: #172554;
}
